<nav>
  <div [ngClass]="{'parking':true,'menu-parking-pick': isParkingPick}" (click)="pickParking()">
    <img [ngClass]="{'parking-icon':true}" src="assets/img/header/parking.png">
    <span [ngClass]="{'parking-count':true}">{{parkingCount}}</span>
  </div>
  <ul [ngClass]="{'menu-container': true}">
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isPersonalCatPick}" (click)="pickPersonalCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/personalCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isMotorcycleCatPick}" (click)="pickMotorcycleCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/motorcycleCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isProviderCatPick}" (click)="pickProviderCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/providerCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isTruckCatPick}" (click)="pickTruckCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/truckCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isBuildCatPick}" (click)="pickBuildCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/buildCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isAgriculturalCatPick}" (click)="pickAgriculturalCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/agriculturalCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isTrailerCatPick}" (click)="pickTrailerCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/trailerCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isBusCatPick}" (click)="pickBusCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/busCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isShipCatPick}" (click)="pickShipCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/shipCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isPlaneCatPick}" (click)="pickPlaneCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/planeCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isPartCatPick}" (click)="pickPartCat()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/partCat.png">
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isCountryPick}" (click)="pickCountryCat()">
      <img [ngClass]="{'select-icon':true}" src="assets/img/header/countryCat.png">
      {{pickedCountry}}
      <img [ngClass]="{'select-icon-arrow':true}" src="assets/img/header/arrowUpWhite.png">
      <div [ngClass]="{'select-list':true, 'select-list-open': isCountryListOpen}">
        <div [ngClass]="{'select-option':true}" (click)="pickCountry('pl')">
          <img src="assets/img/flag/PL.png">
          <span>pl</span>
        </div>
        <div [ngClass]="{'select-option':true}" (click)="pickCountry('gr')">
          <img src="assets/img/flag/PL.png">
          <span>gr</span>
        </div>
      </div>
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isLangPick}" (click)="pickLangCat()">
      <img [ngClass]="{'select-icon':true}" src="assets/img/header/langCat.png">
      {{pickedLang}}
      <img [ngClass]="{'select-icon-arrow':true}" src="assets/img/header/arrowUpWhite.png">
      <div [ngClass]="{'select-list':true, 'select-list-open': isLangListOpen}">
        <div [ngClass]="{'select-option':true}" (click)="pickLang('pl')">
          <img src="assets/img/flag/PL.png">
          <span>pl</span>
        </div>
        <div [ngClass]="{'select-option':true}" (click)="pickLang('gr')">
          <img src="assets/img/flag/PL.png">
          <span>gr</span>
        </div>
      </div>
    </li>
    <li [ngClass]="{'menu-element':true, 'menu-element-pick': isCurrencyPick}" (click)="pickCurrencyCat()">
      <img [ngClass]="{'select-icon':true}" src="assets/img/header/currencyCat.png">
      {{pickedCurrency}}
      <img [ngClass]="{'select-icon-arrow':true}" src="assets/img/header/arrowUpWhite.png">
      <div [ngClass]="{'select-list':true, 'select-list-open': isCurrencyListOpen}">
        <div [ngClass]="{'select-option':true}" (click)="pickCurrency('pl')">
          <img src="assets/img/flag/PL.png">
          <span>pl</span>
        </div>
        <div [ngClass]="{'select-option':true}" (click)="pickCurrency('gr')">
          <img src="assets/img/flag/PL.png">
          <span>gr</span>
        </div>
      </div>
    </li>
    <li [ngClass]="{'menu-element':true}">
      <img [ngClass]="{'menu-element-icon-vert-dash':true}" src="assets/img/header/vertDash.png">
    </li>
    <li [ngClass]="{'menu-element':true}" (click)="pickBanknotes()">
      <img [ngClass]="{'menu-element-icon':true}" src="assets/img/header/banknotesCat.png">
      <span [ngClass]="{'banknotes-count':true}">{{banknotesValue}}</span>
    </li>
    <li [ngClass]="{'menu-element':true}">
      <img [ngClass]="{'menu-element-icon-vert-dash':true}" src="assets/img/header/vertDash.png">
    </li>
    <li [ngClass]="{'menu-element':true}">
      <div *ngIf="!isAccountLogout" [ngClass]="{'menu-account':true, 'menu-account-pick':isAccountPick}"
           (click)="pickAccount()">
        <img *ngIf="isAccountBrokerLogin" [ngClass]="{'menu-account-icon':true}"
             src="assets/img/header/brokerIcon.png">
        <span *ngIf="isAccountBrokerLogin" [ngClass]="{'menu-account-type': true}">{{accountBrokerTypeName}}</span>
        <img *ngIf="isAccountCommissionLogin" [ngClass]="{'menu-account-icon':true}"
             src="assets/img/header/commissionIcon.png">
        <span *ngIf="isAccountCommissionLogin"
              [ngClass]="{'menu-account-type': true}">{{accountCommissionTypeName}}</span>
        <img *ngIf="isAccountIndividualLogin" [ngClass]="{'menu-account-icon':true}"
             src="assets/img/header/individualIcon.png">
        <span *ngIf="isAccountIndividualLogin"
              [ngClass]="{'menu-account-type': true}">{{accountIndividualTypeName}}</span>
        <span [ngClass]="{'menu-account-name': true}">{{accountName}}</span>
      </div>
      <div *ngIf="isAccountLogout" [ngClass]="{'menu-account':true, 'menu-account-pick':isAccountPick}"
           (click)="pickAccount()">
        <img [ngClass]="{'menu-account-logout-icon':true}" src="assets/img/header/individualIcon.png">
        <span [ngClass]="{'menu-account-logout-name': true}">{{logoutAccountName}}</span>
      </div>
    </li>
    <li [ngClass]="{'menu-element':true}">
      <img [ngClass]="{'menu-element-icon-vert-dash':true}" src="assets/img/header/vertDash.png">
    </li>
    <li [ngClass]="{'menu-element':true}">
      <div [ngClass]="{'menu-post-add':true, 'menu-post-add-pick':isMenuAddPostPick}" (click)="pickAddPost()">
        <img [ngClass]="{'menu-account-logout-icon':true}" src="assets/img/header/postAdd.png">
        <span [ngClass]="{'menu-account-logout-name': true}">{{menuPostAddName}}</span>
      </div>
    </li>
    <li [ngClass]="{'menu-element':true}">
      <img [ngClass]="{'menu-element-icon-vert-dash':true}" src="assets/img/header/vertDash.png">
    </li>
  </ul>
</nav>
