nav {
  width: 100%;
  background-color: #2a2a2a;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: right;
  height: 64px;
  line-height: 64px;
}

.menu-container {
  display: inline-block;
  margin: 0 24px 0 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu-element {
  display: inline-block;
  color: white;
  cursor: pointer;
}

.menu-element:hover {
  background-color: #45a1ac !important;
}

.menu-element-icon {
  height: 18px;
  margin: auto 12px;
}

.menu-element-pick {
  background-color: #3b8790;
}

.select-icon {
  height: 18px;
  margin: auto 3px auto 12px;
}

.select-icon-arrow {
  height: 10px;
  margin: auto 12px auto 3px;
}

.select-list {
  position: absolute;
  display: none;
}

.select-list-open {
  display: block;
}

.select-option {
  background-color: #2a2a2a;
  padding: 1px 18px;
  line-height: 1rem;
}

.select-option:hover {
  background-color: #45a1ac !important;
}

.select-option img {
  height: 24px;
}

.menu-element-icon-vert-dash {
  height: 64px;
  margin-top: -5px;
}

.banknotes-count {
  display: inline-block;
  position: absolute;
  background-color: #f6cb20;
  color: black;
  line-height: .9rem;
  font-size: .9rem;
  padding: 0 3px;
  transform: translate(-30px, 46px);
}

.menu-account {
  display: inline-block;
  height: 64px;
  padding: 0 12px;
  top: 0;
}

.menu-account:hover {
  background-color: #45a1ac;
}

.menu-account-pick {
  background-color: #3b8790;
}

.menu-account-icon {
  display: inline-block;
  height: 16px;
  position: absolute;
  transform: translate(0px, 8px);
}

.menu-account-type {
  display: inline-block;
  font-size: .7rem;
  position: absolute;
  text-transform: none;
  transform: translate(22px, -16px);
}

.menu-account-name {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: none;
  transform: translate(0px, 6px);
}

.menu-account-logout-name {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}

.menu-account-logout-icon {
  display: inline-block;
  height: 18px;
  margin: 0 6px 0 0;
}

.menu-post-add {
  cursor: cell;
  background-color: #f6cb20;
  color: black;
  padding: 0 12px;
}

.menu-post-add:hover {
  background-color: #e9bc09;
}

.menu-post-add-pick {
  background-color: #e9bc09;
}

.parking-icon {
  padding: 0;
  margin: 0;
  height: 37px;
  cursor: pointer;
  position: relative;
  top: -16px;
}

.parking {
  height: 102px;
  width: 64px;
  position: absolute;
  transform: translate(0, -18px);
  border: 3px solid #f6cb20;
  padding: 29px 16px;
  color: black;
  margin:0 24px;
  text-align: center;
}

.parking:hover {
  background-color: #45a1ac !important;
  color: white;
}

.parking-count {
  font-size: .9rem;
  position: relative;
  top: -40px;
  font-weight: 500;
}

.menu-parking-pick{
  background-color: #3b8790;
  color: white;
}
