<div *ngIf="isLogout()" [ngClass]="{'footer-logout':true}">
  <div class="container" [ngClass]="{'footer-logout-container':true}">
    <div class="row">
      <div class="col-xl-6 col-lg-12" [ngClass]="{'footer-logout-container-text':true}">
        <label [ngClass]="{'title-label-175':true}">{{footerLogoutTitle}}</label>
        <p>{{footerLogoutText}}</p>
        <div [ngClass]="{'button-blue-small':true, 'button-shadow-hover': true}" (click)="openRegistration()">załóż konto</div>
      </div>
      <div class="col-xl-6 col-lg-12 text-center">
        <img [ngClass]="{'footer-logout-icon':true}" src="assets/img/footer/footerLaptop.png">
      </div>
    </div>
  </div>

</div>
<footer>
  <div class="container" [ngClass]="{'footer-container':true}">
    <div class="row">
      <div class="col-xl-4 coll-lg-12 text-center">
        <img [ngClass]="{'footer-icon':true}" src="assets/img/footer/footerGift.png">
      </div>
      <div class="col-xl-8 col-lg-12" [ngClass]="{'footer-menu-container':true}">
        <ul>
          <li><a href="">{{privacyPoliticLinkName}}</a></li>
          <li>
            <div [ngClass]="{'footer-vert-dash':true}"></div>
          </li>
          <li><a href="">{{adLinkName}}</a></li>
          <li>
            <div [ngClass]="{'footer-vert-dash':true}"></div>
          </li>
          <li><a href="">{{priceLinkName}}</a></li>
          <li>
            <div [ngClass]="{'footer-vert-dash':true}"></div>
          </li>
          <li><a href="">{{helpLinkName}}</a></li>
          <li>
            <div [ngClass]="{'footer-vert-dash':true}"></div>
          </li>
          <li><a href="">{{contactLinkName}}</a></li>
        </ul>
      </div>
      <div class="col-xl-6 col-lg-12" [ngClass]="{'footer-regulation': true}">
        <p>{{regulationAcceptationText}} <a href="">{{regulationLinkName}}</a></p>
      </div>
      <div class="col-xl-6 col-lg-12 " [ngClass]="{'footer-logo-container':true}">
        <img [ngClass]="{'footer-logo':true}" src="assets/img/footer/footerLogo.png">
      </div>
    </div>
  </div>
</footer>
