<div id="footer-logout">
  <div class="container">
    <div class="row">
      <div class="col-6 footer-logout-text">

        <h2>Zarejestruj się już teraz!</h2>
        <p>Dzięki rejestracji będziesz mógł zarządzać dodanymi ogłoszeniami, a także dodawać
          ogłoszenia do ulubionych, aby mieć do nich łatwy dostęp w każdej chwili!</p>
        <div class="button-blue" (click)="openRegistration()">załóż konto</div>
      </div>
      <div class="col-6">
        <img src="assets/img/footer/laptop.png">
      </div>
    </div>

  </div>

</div>
<footer>
  <div class="container">
    <div id="footer-main" class="row">
      <div class="col-4">
        <img id="footer-img-gift" src="assets/img/footer/gift.png">
      </div>
      <div class="col-8 text-right">
        <ul>
          <li><a href="">Polityka prywatnośći</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Reklama</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Cennik</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Pomoc</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img id="footer-img-logo" src="assets/img/footer/footer-logo.png">
      </div>
      <div id="footer-regulamin" class="col-12 text-left">
        <p>Korzystanie z serwisu oznacza akceptację <a href="">regulaminu</a></p>
      </div>
    </div>
  </div>
</footer>
