<footer>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img id="footer-img-gift" src="assets/img/footer/gift.png">
      </div>
      <div class="col-8 text-right">
        <ul>
          <li><a href="">Polityka prywatnośći</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Reklama</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Cennik</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Pomoc</a></li>
          <li>
            <div class="vert-dash"></div>
          </li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img id="footer-img-logo" src="assets/img/footer/footer-logo.png">
      </div>
      <div id="footer-regulamin" class="col-12 text-left">
        <p>Korzystanie z serwisu oznacza akceptację <a href="">regulaminu</a></p>
      </div>
    </div>
  </div>
</footer>
