.container{
  margin: 0 auto;
}
footer {
  width: 100%;
  background-color: #2a2a2a;
}

.footer-container {
  background-color: #2a2a2a;
  padding: 24px;
  margin: 0 auto;
}

.footer-menu-container {
  text-align: right;
  vertical-align: middle;
}

.footer-menu-container ul {
  list-style: none;
  line-height: 150px;
  margin: 0;
}

.footer-menu-container ul li {
  display: inline-block;
  margin: 12px;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #45a1ac;
}

.footer-icon {
  height: 150px;
  margin: 0 auto;
}

.footer-vert-dash {
  height: 1.5rem;
  width: 1px;
  border: 1px solid white;
  padding: 0;
  position: relative;
  top: 1.25rem;

}

.footer-logo-container {
  text-align: right;
}

.footer-logo {
  height: 80px;
}

.footer-regulation {
  color: white;
  height: 80px;
  line-height: 80px;
  vertical-align: bottom;
  text-align: center;
}

.footer-regulation p {
  vertical-align: bottom;
  margin: 0;
}

.footer-logout {
  width: 100%;
  background-color: #f6cb20;
}

.footer-logout-container {
  height: 210px;
  background-color: transparent;
  padding: 0 24px;
}

.footer-logout-icon {
  height: 300px;
  transform: translateY(-35px);
}

.footer-logout-container-text {
  text-align: left;
}

.button-blue-small {
  float: right;
}
@media screen and (max-width: 1360px) {

  .footer-menu-container ul li {
    display: block;
    margin: 0px;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .footer-menu-container {
    text-align: center;
  }

  .footer-vert-dash {
    height: 1.5rem;
    width: 1px;
    border: 1px solid white;
    padding: 0;
    position: relative;
    top: 1.25rem;
    display: none;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-regulation {
    height: auto;
    line-height: 1rem;
    vertical-align: middle;
  }
  .footer-logout-icon {
    display: none;
  }

  .footer-logout-container {
    height: auto;
  }

  .button-blue-small {
    margin: 12px auto;
    float: none;
  }

  .footer-logout-container-text {
    text-align: center;
  }
  .footer-regulation p {
    vertical-align: middle;
  }
}
