footer {
  text-align: center;
  background: #2a2a2a;
  width: 100%;
  top: calc(100% - 400px);
  position: relative;
  padding: 56px 12px 0 12px;
}

#footer-img-gift {
  height: 156px;
}

ul {
  list-style: none;
  line-height: 156px;
}

li {
  display: inline-block;
  font-size: 1.25rem;
  color: white;
  padding: 0 6px;
}

.vert-dash {
  height: 1.5rem;
  width: 1px;
  border: 1px solid white;
  padding: 0;
  position: relative;
  top: .5rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #45a1ac;
}

#footer-regulamin {
  color: white;
  font-size: 1rem;
}

#footer-img-logo {
  position: relative;
  height: 83px;
  float: right;
  display: inline-block;
}

#footer-logout {
  width: 100%;
  background-color: #f6cb20;
  height: 240px;
  text-align: center;
}

#footer-logout img{
  position: relative;
  height: 360px;

  top: -60px;
  z-index: 4;
}

.button-blue {
  position: relative;
  float: right;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  background-color: #45a1ac;
  line-height: 43px;
  padding: 0 12px;
  margin-right: 24px;

}

.button-blue:hover {
  background-color: #3b8790;
}
.footer-logout-text {
  font-size: 1.25rem;
  padding: 36px;
  text-align: left;
}
.footer-logout-text h2{
  font-weight: 700;
}

