@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

form {
  width: 100%;
}

.container {
  background-color: white;
  margin: 0 auto 24px auto;
  padding: 0;
}

.main-black-bg {
  background-color: #2a2a2a;
}

.main-orange-bg {
  background-color: #f6cb20;
}

.main-black-orange-bg {
  background-color: #e9bc09;
}

.main-blue-bg {
  background-color: #45a1ac;
}

.main-dark-blue-bg {
  background-color: #3b8790;
}

.main-orange-bg-hover:hover {
  background-color: #f6cb20;
}

.main-black-orange-bg-hover:hover {
  background-color: #e9bc09;
}

.main-blue-bg-hover:hover {
  background-color: #45a1ac;
}

.main-dark-blue-bg-hover:hover {
  background-color: #3b8790;
}

.main-border-color {
  border-color: #5f5f5f;
}

.main-transition-effect {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.input {
  width: 80%;
  display: block;
  height: 43px;
  border: 1px solid #9a9a9a;
  line-height: 43px;
  padding: 0 24px;
  font-size: 1rem;
  border-radius: 3px;
}
.input-invalid {
  border: 1px solid red;
}
.input-invalid-tip{
  font-size: .8rem;
  color: red;
}

.input::placeholder {
  font-size: 1rem;
  font-weight: 200;
}

.input-label {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 12px 24px;
  display: block;
}

.input-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: bottom;
  margin-right: 12px;
}

.input-checkbox-label {
  display: inline-block;
  line-height: 24px;
  font-size: 1rem;
  margin: 12px 24px;
}

.button-orange-100 {
  background-color: #f6cb20;
  border: 1px solid #e9bc09;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 24px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 12px 24px;
  width: calc(100% - 48px);
  outline: none;
  border-radius: 2px;
  text-align: center;
}

.button-orange-100:hover {
  background-color: #e9bc09;
}

.button-blue-small {
  color: white;
  background-color: #45a1ac;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  line-height: 43px;
  padding: 0 12px;
  width: 160px;
  outline: none;
  border-radius: 2px;
  border-width: 0;
}

.button-blue-small:hover {
  background-color: #3b8790;
}

.link-a {
  font-size: 1rem;
  color: #45a1ac;
}

.link-a:hover {
  color: #3b8790;
  font-weight: 400;
  text-decoration: none;
}

.link-a-label {
  margin: 12px 24px;
}

.title-label-80, .title-label-90, .title-label-100, .title-label-125, .title-label-150, .title-label-175, .title-label-200 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 12px 24px;
  text-transform: uppercase;
}

.title-label-80 {
  font-size: .8rem;
}

.title-label-90 {
  font-size: .9rem;
}

.title-label-100 {
  font-size: 1rem;
}

.title-label-125 {
  font-size: 1.25rem;
}

.title-label-150 {
  font-size: 1.5rem;
}

.title-label-175 {
  font-size: 1.75rem;
}

.title-label-200 {
  font-size: 2rem;
}

.input-select {
  display: block;
  width: 80%;
  height: 43px;
  line-height: 43px;
  padding: 0 24px;
  margin-top: 6px;
  font-size: 1rem;
}
