<div class="container">
  <form *ngIf="!isSuccess && !isServerDontResponse" (submit)="registrationIndividualFormSubmit()">
    <div class="row">
      <div class="col-12 text-center">
        <label *ngIf="isSuccess" [ngClass]="{'title-label-100':true}">
          rejestracja jest prawidłowa, przekierowanie za {{redirectTimeLeft}}
        </label>
        <label *ngIf="isServerDontResponse" [ngClass]="{'title-label-100':true}">
          no response from server try later
        </label>
      </div>
      <div class="col-lg-6 col-md-12">
        <label [ngClass]="{'title-label-125': true}">Podstawowa informacja</label>
        <label for="email" [ngClass]="{'input-label':true}">Email
          <span *ngIf="!isValid.email" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.email}}</span>
          <input id="email" [ngClass]="{'input':true,'input-invalid':!isValid.email}" type="text"
                 [(ngModel)]="value.email" name="email" (change)="isEmailValid()"
                 placeholder="wpiś email">
        </label>
        <label for="password" [ngClass]="{'input-label':true}">Hasło
          <span *ngIf="!isValid.password" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.password}}</span>
          <input id="password" [ngClass]="{'input':true,'input-invalid':!isValid.password}" type="password"
                 [(ngModel)]="value.password" name="password" (change)="isPasswordValid()"
                 placeholder="wpiś hasło">
        </label>
        <label for="confirm" [ngClass]="{'input-label':true}">Powtóż hasło
          <span *ngIf="!isValid.confirm" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.confirm}}</span>
          <input id="confirm" [ngClass]="{'input':true,'input-invalid':!isValid.confirm}"
                 type="password" [(ngModel)]="value.confirm" name="confirm" (change)="isConfirmValid()"
                 placeholder="powtóż hasło">
        </label>
        <label for="word" [ngClass]="{'input-label':true}">Słowo kluczowe
          <span *ngIf="!isValid.secretWord" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.secretWord}}</span>
          <input id="word" [ngClass]="{'input':true,'input-invalid':!isValid.secretWord}" type="text"
                 [(ngModel)]="value.secretWord" name="secretWord" (change)="isSecretWordValid()"
                 placeholder="wpiś słowo kluczowe">
        </label>

        <label [ngClass]="{'title-label-125': true}">Informacja o firmie</label>
        <label for="isPolandCompany" [ngClass]="{'input-checkbox-label':true}">
          <input id="isPolandCompany" [ngClass]="{'input-checkbox':true}" type="checkbox"
                 [(ngModel)]="value.isNotPolandCompany" name="isPolandCompany" (change)="clearCompanyData()">
          firma zarejestrowana poza Polską
        </label>
        <label for="hasNipEu" [ngClass]="{'input-checkbox-label':true}">
          <input id="hasNipEu" [ngClass]="{'input-checkbox':true}" type="checkbox"
                 [(ngModel)]="value.hasNipEu" name="hasNipEu">
          jestem płatnikiem VAT w UE
        </label>
        <label for="nip" [ngClass]="{'input-label':true}">NIP
          <span *ngIf="!isValid.companyNip" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyNip}}</span>
          <input id="nip" [ngClass]="{'input':true,'input-invalid':!isValid.companyNip}" type="text"
                 [(ngModel)]="value.companyNip" name="companyNip" (change)="isCompanyNipValid(); getCompanyInfoByNip()"
                 placeholder="wpiś nip">
        </label>
        <label for="nipEu"  *ngIf="value.hasNipEu" [ngClass]="{'input-label':true}">NIP w UE
          <span *ngIf="!isValid.companyNipEU" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyNipEU}}</span>
          <input id="nipEu" [ngClass]="{'input':true,'input-invalid':!isValid.companyNipEU}" type="text"
                 [(ngModel)]="value.companyNipEU" name="companyNipEu" (change)="isCompanyNipEUValid()"
                 placeholder="wpiś nip w UE">
        </label>
        <label for="company" [ngClass]="{'input-label':true}">Pełna nazwa firmy
          <span *ngIf="!isValid.companyName" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyName}}</span>
          <input id="company" [ngClass]="{'input':true,'input-invalid':!isValid.companyName}" type="text"
                 [(ngModel)]="value.companyName" name="companyName" (change)="isCompanyNameValid()"
                 placeholder="wpiś pewną nazwe firmy">
        </label>
        <label for="country" [ngClass]="{'input-label':true}">Kraj
          <span *ngIf="!isValid.companyCountry" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyCountry}}</span>
          <select id="country" [ngClass]="{'input':true,'input-invalid':!isValid.companyCountry}" type="text"
                  [(ngModel)]="value.companyCountry" name="companyCountry" (change)="isCompanyCountryValid()">
            <option disabled selected>wybierz</option>
            <option *ngFor="let codeName of getAllCountriesCodeAndName();" value="{{codeName[0]}}">{{codeName[1]}}</option>
          </select>
        </label>
        <label for="address" [ngClass]="{'input-label':true}">Adres
          <span *ngIf="!isValid.companyAddress" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyAddress}}</span>
          <input id="address" [ngClass]="{'input':true,'input-invalid':!isValid.companyAddress}" type="text"
                 [(ngModel)]="value.companyAddress" name="companyAddress" (change)="isCompanyAddressValid()"
                 placeholder="wpiś addres">
        </label>
        <label for="zip" [ngClass]="{'input-label':true}">Kod pocztowy
          <span *ngIf="!isValid.companyZip" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyZip}}</span>
          <input id="zip" [ngClass]="{'input':true,'input-invalid':!isValid.companyZip}" type="text"
                 [(ngModel)]="value.companyZip" name="companyZip" (change)="isCompanyZipValid()"
                 placeholder="wpiś kod pocztowy">
        </label>
        <label for="city" [ngClass]="{'input-label':true}">Miasto
          <span *ngIf="!isValid.companyCity" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyCity}}</span>
          <input id="city" [ngClass]="{'input':true,'input-invalid':!isValid.companyCity}" type="text"
                 [(ngModel)]="value.companyCity" name="companyCity" (change)="isCompanyCityValid()"
                 placeholder="wpiś miasto">
        </label>
        <label for="name" [ngClass]="{'input-label':true}">Imię
          <span *ngIf="!isValid.companyPersonName" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyPersonName}}</span>
          <input id="name" [ngClass]="{'input':true,'input-invalid':!isValid.companyPersonName}" type="text"
                 [(ngModel)]="value.companyPersonName" name="companyPersonName" (change)="isCompanyPersonNameValid()"
                 placeholder="wpiś imię">
        </label>
        <label for="surname" [ngClass]="{'input-label':true}">Nazwisko
          <span *ngIf="!isValid.companyPersonSurname" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyPersonSurname}}</span>
          <input id="surname" [ngClass]="{'input':true,'input-invalid':!isValid.companyPersonSurname}" type="text"
                 [(ngModel)]="value.companyPersonSurname" name="companyPersonSurname" (change)="isCompanyPersonSurnameValid()"
                 placeholder="wpiś nazwisko">
        </label>
        <label for="phone" [ngClass]="{'input-label':true}">Telefon
          <span *ngIf="!isValid.companyPhone" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.companyPhone}}</span>
          <input id="phone" [ngClass]="{'input':true,'input-invalid':!isValid.companyPhone}" type="text"
                 [(ngModel)]="value.companyPhone" name="companyPhone" (change)="isCompanyPhoneValid()"
                 placeholder="wpiś telefon">
        </label>
      </div>
      <div class="col-lg-6 col-md-12" [ngClass]="{'salon-container': true}">
        <label [ngClass]="{'title-label-125': true}">Dodaj salon / plac</label>
        <label for="salon-name" [ngClass]="{'input-label':true}">Nazwa salonu
          <span *ngIf="!isValid.salonName" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonName}}</span>
          <input id="salon-name" [ngClass]="{'input':true,'input-invalid':!isValid.salonName}" type="text"
                 [(ngModel)]="value.salonName" name="salonName" (change)="isSalonNameValid()"
                 placeholder="wpiś nazwę salonu">
        </label>
        <label for="salonCountry" [ngClass]="{'input-label':true}">Kraj
          <span *ngIf="!isValid.salonCountry" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonCountry}}</span>
          <select id="salonCountry" [ngClass]="{'input':true,'input-invalid':!isValid.salonCountry}" type="text"
                  [(ngModel)]="value.salonCountry" name="salonCountry" (change)="isSalonCountryValid()">
            <option disabled selected>wybierz</option>
            <option *ngFor="let codeName of getAllCountriesCodeAndName();" value="{{codeName[0]}}">{{codeName[1]}}</option>
          </select>
        </label>
        <label for="salonAddress" [ngClass]="{'input-label':true}">Adres
          <span *ngIf="!isValid.salonAddress" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonAddress}}</span>
          <input id="salonAddress" [ngClass]="{'input':true,'input-invalid':!isValid.salonAddress}" type="text"
                 [(ngModel)]="value.salonAddress" name="salonAddress" (change)="isSalonAddressValid()"
                 placeholder="wpiś adres">
        </label>
        <label for="salonZip" [ngClass]="{'input-label':true}">Kod pocztowy
          <span *ngIf="!isValid.salonZip" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonZip}}</span>
          <input id="salonZip" [ngClass]="{'input':true,'input-invalid':!isValid.salonZip}" type="text"
                 [(ngModel)]="value.salonZip" name="salonZip" (change)="isSalonZipValid()"
                 placeholder="wpiś kod pocztowy">
        </label>
        <label for="salonCity" [ngClass]="{'input-label':true}">Miasto
          <span *ngIf="!isValid.salonCity" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonCity}}</span>
          <input id="salonCity" [ngClass]="{'input':true,'input-invalid':!isValid.salonCity}" type="text"
                 [(ngModel)]="value.salonCity" name="salonCity" (change)="isSalonCityValid()"
                 placeholder="wpiś miasto">
        </label>
        <label for="salonPhone1" [ngClass]="{'input-label':true}">Telefon
          <span *ngIf="!isValid.salonPhone1" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonPhone1}}</span>
          <input id="salonPhone1" [ngClass]="{'input':true,'input-invalid':!isValid.salonPhone1}" type="text"
                 [(ngModel)]="value.salonPhone1" name="salonPhone1" (change)="isSalonPhone1Valid()"
                 placeholder="wpiś telefon">
        </label>
        <label for="salonPhone2" [ngClass]="{'input-label':true}">Telefon
          <span *ngIf="!isValid.salonPhone2" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.salonPhone2}}</span>
          <input id="salonPhone2" [ngClass]="{'input':true,'input-invalid':!isValid.salonPhone2}" type="text"
                 [(ngModel)]="value.salonPhone2" name="salonPhone2" (change)="isSalonPhone2Valid()"
                 placeholder="wpiś telefon">
        </label>
      </div>
      <div class="col-12">
        <label for="accept" [ngClass]="{'input-checkbox-label':true}">
          <input id="accept" [ngClass]="{'input-checkbox':true,'input-invalid':!value.isRegulationAccept}"
                 type="checkbox" [(ngModel)]="value.isRegulationAccept" name="accept" (change)="isRegulationAccept()">
          <a [ngClass]="{'link-a':true}" href="">Akceptuję regulamin serwisu</a>
          <span *ngIf="!value.isRegulationAccept" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.regulationAccept}}</span>
        </label>
      </div>
      <div class="col-12">
        <input type="submit" [ngClass]="{'button-orange-100':true}" value="Zarejestruje się">
      </div>
    </div>
  </form>
</div>
