* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  margin: 0 auto 24px auto;
  padding: 12px;
}

.registration-button {
  width: 100%;
  background-color: #f6cb20;
  border: 1px solid #e9bc09;
  height: 43px;
  line-height: 43px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 24px;
  margin: 12px 0 0 0;
}

.registration-button:hover {
  background-color: #e9bc09;
}

.input {
  width: 520px;
  display: block;
  height: 43px;
  border: 1px solid #9a9a9a;
  line-height: 43px;
  padding: 0 24px;
  font-size: 1rem;
  margin-top: 6px;
}

.input::placeholder {
  font-size: 1rem;
  font-weight: 200;
}

.input-label {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 12px 0 0 0;
  display: block;
}

.input-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: bottom;
  margin-right: 12px;
}

.input-checkbox-label {
  display: inline-block;
  line-height: 24px;
  font-size: .8rem;
  margin-top: 12px;
}

.accept {
  font-size: 1rem;
  text-decoration: none;
  color: #45a1ac;
}

.accept:hover {
  color: #3b8790;
  font-weight: 400;
}


.registration-forms-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: bottom;
  margin-right: 12px;
}

.registration-forms-label-check {
  display: inline-block;
  line-height: 24px;
  font-size: .8rem;
  margin-top: 12px;
}

.registration-forms-a {
  font-size: 1rem;
  text-decoration: none;
  color: #45a1ac;
}

.registration-forms-a:hover {
  color: #3b8790;
  font-weight: 400;
}

.registration-forms-title-p {
  font-size: 1.75rem;
  margin: 12px 0;
  font-weight: 500;
}

.login-google-fb p {
  display: inline-block;
  padding: 0;
  margin: 0 12px;
  line-height: 24px;
}
