<div class="container">
  <div class="row">
    <form (submit)="authenticateIn()">
      <div class="col-12">
        <label for="email" [ngClass]="{'input-label':true}">Email
          <span *ngIf="!isValid.email" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.email}}</span>
          <input id="email" type="text" name="email" placeholder="wprowadż swój email"
                 [ngClass]="{'input':true,'input-invalid':!isValid.email}" [(ngModel)]="value.email" (change)="isEmailValid()">
        </label>
        <label for="password" [ngClass]="{'input-label':true}">Hasło
          <span *ngIf="!isValid.password" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.password}}</span>
          <input id="password" type="password" name="password" placeholder="wprowadż swoe hasło"
                 [ngClass]="{'input':true,'input-invalid':!isValid.password}" [(ngModel)]="value.password" (change)="isPasswordValid()">
        </label>
        <label for="remember" [ngClass]="{'input-checkbox-label':true}">
          <input id="remember" type="checkbox" name="remember" [ngClass]="{'input-checkbox': true}" [(ngModel)]="value.isRemember">
          Zapamiętaj mnie
          <span *ngIf="value.isRemember" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.remember}}</span>
        </label>
      </div>
      <div class="col-12">
        <app-registration-login-google></app-registration-login-google>
        <div [ngClass]="{'login-remote-api':true}">
          <img [ngClass]="{'login-remote-api-icon': true}" src="assets/img/registration/login-fb-icon.png">
          <p [ngClass]="{'login-remote-api-title':true}">Zaloguj się przez facebook</p>
        </div>
      </div>
      <div class="col-12">
        <input type="submit" [ngClass]="{'button-orange-100':true}" value="Zaloguj się">
      </div>
      <label class="col-12" [ngClass]="{'link-a-label':true}">
        <a [ngClass]="{'link-a':true}" href="">Zaponiałeś hasło?</a>
      </label>
    </form>
  </div>
</div>
