<div class="container">
  <div class="row">
    <div class="col-12">
      <label for="{{inputEmailId}}" [ngClass]="{'input-label':true}">{{inputEmailLabelValue}}
        <input id="{{inputEmailId}}" [ngClass]="{'input':true}" type="text"
               placeholder="{{inputEmailPlaceholder}}">
      </label>
      <label for="{{inputPasswordId}}" [ngClass]="{'input-label':true}">{{inputPasswordLabelValue}}
        <input id="{{inputPasswordId}}" [ngClass]="{'input':true}" type="text"
               placeholder="{{inputPasswordPlaceholder}}">
      </label>
      <label for="{{inputRememberCheckboxId}}" [ngClass]="{'input-checkbox-label':true}">
        <input id="{{inputRememberCheckboxId}}" [ngClass]="{'input-checkbox': true}" type="checkbox">
        {{inputRememberCheckboxLabelValue}}
      </label>
    </div>
    <div class="col-12">
      <div [ngClass]="{'login-remote-api':true}">
        <img [ngClass]="{'login-remote-api-icon': true}" src="assets/img/registration/login-google-icon.png">
        <p [ngClass]="{'login-remote-api-title':true}">{{loginRemoteGoogleTitleValue}}</p>
      </div>
      <div [ngClass]="{'login-remote-api':true}">
        <img [ngClass]="{'login-remote-api-icon': true}" src="assets/img/registration/login-fb-icon.png">
        <p [ngClass]="{'login-remote-api-title':true}">{{loginRemoteFBTitleValue}}</p>
      </div>
    </div>
    <div class="col-12">
      <div [ngClass]="{'button-orange-100':true}">{{loginButtonTitleValue}}</div>
    </div>
    <label class="col-12" [ngClass]="{'link-a-label':true}">
      <a [ngClass]="{'link-a':true}" href="">{{forgotPasswordLinkValue}}</a>
    </label>
  </div>
</div>
