<div class="container">
  <div class="row">
    <form (submit)="authenticateIn()">
      <div class="col-12">
        <label for="email" [ngClass]="{'input-label':true}">Email
          <span *ngIf="!isValid.email"
                [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.email}}</span>
          <input id="email" [ngClass]="{'input':true,'input-invalid':!isValid.email}" type="text"
                 [(ngModel)]="value.email" name="email" (change)="isEmailValid()"
                 placeholder="wprowadż swój email">
        </label>
        <label for="password" [ngClass]="{'input-label':true}">Hasło
          <span *ngIf="!isValid.password"
                [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.password}}</span>
          <input id="password" [ngClass]="{'input':true,'input-invalid':!isValid.password}" type="password"
                 [(ngModel)]="value.password" name="password" (change)="isPasswordValid()"
                 placeholder="wprowadż swoe hasło">
        </label>
        <label for="remember" [ngClass]="{'input-checkbox-label':true}">
          <input id="remember" [ngClass]="{'input-checkbox': true}" type="checkbox" [(ngModel)]="value.isRemember" name="remember">
          Zapamiętaj mnie
          <span *ngIf="value.isRemember"
                [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.remember}}</span>
        </label>
      </div>
      <div class="col-12">
        <div [ngClass]="{'login-remote-api':true}">
          <img [ngClass]="{'login-remote-api-icon': true}" src="assets/img/registration/login-google-icon.png">
          <p [ngClass]="{'login-remote-api-title':true}">Zaloguj się przez google</p>
        </div>
        <div [ngClass]="{'login-remote-api':true}">
          <img [ngClass]="{'login-remote-api-icon': true}" src="assets/img/registration/login-fb-icon.png">
          <p [ngClass]="{'login-remote-api-title':true}">Zaloguj się przez facebook</p>
        </div>
      </div>
      <div class="col-12">
        <input type="submit" [ngClass]="{'button-orange-100':true}" value="Zaloguj się">
      </div>
      <label class="col-12" [ngClass]="{'link-a-label':true}">
        <a [ngClass]="{'link-a':true}" href="">Zaponiałeś hasło?</a>
      </label>
    </form>
  </div>
</div>
