<div class="container">
  <div class="row">
    <div class="col-12">
      <label [ngClass]="{'title-label-125': true}">Kategoria:</label>
    </div>
    <div class="col-12">
      <ul [ngClass]="{'cat-container': true}">
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isPersonalCatPick}" (click)="pickPersonalCat()">
          <img *ngIf="isPersonalCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/personalCat.png">
          <img *ngIf="!isPersonalCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/personalCat.png">
          <span>osobowe</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isMotorcycleCatPick}" (click)="pickMotorcycleCat()">
          <img *ngIf="isMotorcycleCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/motorcycleCat.png">
          <img *ngIf="!isMotorcycleCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/motorcycleCat.png">
          <span>motocycle</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isProviderCatPick}" (click)="pickProviderCat()">
          <img *ngIf="isProviderCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/providerCat.png">
          <img *ngIf="!isProviderCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/providerCat.png">
          <span>dostawcze</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isTruckCatPick}" (click)="pickTruckCat()">
          <img *ngIf="isTruckCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/truckCat.png">
          <img *ngIf="!isTruckCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/truckCat.png">
          <span>ciężarowe</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isBuildCatPick}" (click)="pickBuildCat()">
          <img *ngIf="isBuildCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/buildCat.png">
          <img *ngIf="!isBuildCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/buildCat.png">
          <span>budowlane</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isAgriculturalCatPick}" (click)="pickAgriculturalCat()">
          <img *ngIf="isAgriculturalCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/agriculturalCat.png">
          <img *ngIf="!isAgriculturalCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/agriculturalCat.png">
          <span>rolnicze</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isTrailerCatPick}" (click)="pickTrailerCat()">
          <img *ngIf="isTrailerCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/trailerCat.png">
          <img *ngIf="!isTrailerCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/trailerCat.png">
          <span>przyczepy</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isBusCatPick}" (click)="pickBusCat()">
          <img *ngIf="isBusCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/busCat.png">
          <img *ngIf="!isBusCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/busCat.png">
          <span>autobusy</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isShipCatPick}" (click)="pickShipCat()">
          <img *ngIf="isShipCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/shipCat.png">
          <img *ngIf="!isShipCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/shipCat.png">
          <span>wodne</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isPlaneCatPick}" (click)="pickPlaneCat()">
          <img *ngIf="isPlaneCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/planeCat.png">
          <img *ngIf="!isPlaneCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/planeCat.png">
          <span>powietrzne</span>
        </li>
        <li [ngClass]="{'cat-element':true, 'cat-element-pick': isPartCatPick}" (click)="pickPartCat()">
          <img *ngIf="isPartCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/header/partCat.png">
          <img *ngIf="!isPartCatPick" [ngClass]="{'cat-element-icon':true}" src="assets/img/postadd/partCat.png">
          <span>części</span>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <label for="post-title" [ngClass]="{'title-label-125':true,'input-label':true}">Tytuł
        <span *ngIf="!isValid.title" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.title}}</span>
        <input id="post-title" [ngClass]="{'input':true,'input-invalid':!isValid.title}" type="text"
               [(ngModel)]="value.title" name="post-title" (change)="isTitleValid()"
               placeholder="wpiś tytuł">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <label for="post-mark" [ngClass]="{'title-label-125':true,'input-label':true}">Marka
        <span *ngIf="!isValid.markId" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.markId}}</span>
        <select id="post-mark" [ngClass]="{'input':true,'input-invalid':!isValid.markId}"
                [(ngModel)]="value.markId" name="post-mark" (change)="isMarkValid()">
          <option *ngFor="let mark of value.marks;" value="{{mark._id}}">{{mark.name}}</option>
        </select>
      </label>
    </div>
    <div class="col-lg-4 col-md-12" *ngIf="isMarkValid()">
      <label for="post-model" [ngClass]="{'title-label-125':true,'input-label':true}">Model
        <span *ngIf="!isValid.model" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.model}}</span>
        <select id="post-model" [ngClass]="{'input':true,'input-invalid':!isValid.model}"
                [(ngModel)]="value.model" name="post-model" (change)="isModelValid()">
          <ng-container *ngFor="let body of value.models">
            <ng-container *ngIf="value.markId === body[0].markId">
              <option disabled selected>{{body[0].name.toUpperCase()}}</option>
              <option dir="rtl" *ngFor="let model of body[1]" value="{{[body[0]._id, model._id]}}">{{model.name.toLowerCase()}}</option>
            </ng-container>
          </ng-container>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <label for="post-mileage" [ngClass]="{'title-label-125':true,'input-label':true}">Przebieg
        <span *ngIf="!isValid.mileage" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.mileage}}</span>
        <input type="number" id="post-mileage" [ngClass]="{'input':true,'input-invalid':!isValid.mileage}"
               [(ngModel)]="value.mileage" name="post-title" (change)="isMileageValid()"
               placeholder="wpiś przebieg">
      </label>
    </div>
    <div class="col-lg-4 col-md-12">
      <label for="post-production" [ngClass]="{'title-label-125':true,'input-label':true}">Rok produkcji
        <span *ngIf="!isValid.productionYear" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.productionYear}}</span>
        <input type="number" id="post-production" [ngClass]="{'input':true,'input-invalid':!isValid.productionYear}"
               [(ngModel)]="value.productionYear" name="post-title" (change)="isProductionYearValid()"
               placeholder="wpiś rok produkcji">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label [ngClass]="{'title-label-125':true,'input-label': true}">zdjęcie i opis</label>
    </div>
    <div class="col-12">
      <label for="post-photo" [ngClass]="{'button-blue-100':true}" class="text-left">
        <img [ngClass]="{'btn-icon-photo':true}" src="/assets/img/postadd/addPhotoIcon.png">
        dodaj zdjęcie
        <input id="post-photo" type="file" (change)="uploadFileEvent($event); updatePreview()" multiple accept=".png, .bmp, .jpg, .jpeg">
      </label>
    </div>
    <div class="col-12">
      <div [ngClass]="{'photos':true}">
        <ng-container *ngIf="value.photosPreview.length === 0">
          <img [ngClass]="{'photo':true}" src="/assets/img/postadd/defaultPhotoIcon.png">
        </ng-container>
        <ng-container *ngFor="let imgsrc of value.photosPreview; index as i">
          <div [ngClass]="{'remove':true}" (click)="removePhotoPreview(i)">
            <div [ngClass]="{'remove-icon':true}"></div>
            <img [ngClass]="{'photo':true}" src="{{imgsrc}}">
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12">
      <label for="post-photo-description" [ngClass]="{'title-label-125':true,'input-label':true}">Opisz szczegóły
        <span *ngIf="!isValid.photosDescription" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.photosDescription}}</span>
        <textarea id="post-photo-description" [ngClass]="{'input':true,'input-invalid':!isValid.photosDescription, 'description': true}"
                  [(ngModel)]="value.photosDescription" name="post-title" (change)="isPhotosDescriptionValid()"
                  placeholder="wpiś opis ogłoszenia lub opis zdjecia">
        </textarea>
      </label>
    </div>
    <div class="col-12">
      <label [ngClass]="{'button-blue-100':true}" class="text-left" (click)="addLastPhotosAndDescriptions()">
        <img [ngClass]="{'btn-icon-add-photo-description-row':true}" src="/assets/img/postadd/addPhotoAndDescriptionRowIcon.png">
        dodaj kolejny wiersz
      </label>
    </div>
  </div>
  <ng-container *ngFor="let photosAndDescription of value.photosAndDescription.reverse(); index as i">
    <div class="row">
      <div class="col-12">
        <div [ngClass]="{'photo-description-row': true}">
          <ng-container *ngIf="photosAndDescription[0].length>0">
            <ng-container *ngFor="let imgsrc of photosAndDescription[0]">
              <img [ngClass]="{'photo':true}" src="{{imgsrc}}">
            </ng-container>
          </ng-container>
          <ng-container *ngIf=" photosAndDescription[1].length > 0">
            <p [ngClass]="{'description': true}">{{photosAndDescription[1]}}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-12" *ngIf="photosAndDescription[0].length>0 || photosAndDescription[1].length > 0">
        <label [ngClass]="{'button-blue-100':true}" class="text-left" (click)="editPhotosAndDescription(value.photosAndDescription.length-i-1)">
          edytować wiersz
        </label>
      </div>
    </div>
  </ng-container>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12">
      <label for="post-country" [ngClass]="{'title-label-125':true,'input-label':true}">Kraj
        <span *ngIf="!isValid.country" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.country}}</span>
        <select id="post-country" [ngClass]="{'input':true,'input-invalid':!isValid.country}"
                [(ngModel)]="value.country" name="post-country" (change)="isCountryValid();updateCountries(); updateRegions(); updateUserSalonByCountry()">
          <option *ngFor="let country of value.countries;" value="{{country[0]}}">{{country[1]}}</option>
        </select>
      </label>
    </div>
    <div class="col-lg-3 col-md-12" *ngIf="isCountryValid()">
      <label for="post-region" [ngClass]="{'title-label-125':true,'input-label':true}">Region
        <span *ngIf="!isValid.region" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.region}}</span>
        <select id="post-region" [ngClass]="{'input':true,'input-invalid':!isValid.region}"
                [(ngModel)]="value.region" name="post-region" (change)="isRegionValid(); updateClickedRegionOnMapka()">
          <option *ngFor="let region of value.regions;" value="{{region[0]}}">{{region[1]}}</option>
        </select>
      </label>
    </div>
    <div class="col-lg-3 col-md-12" *ngIf="isRegionValid();">
      <label for="post-city" [ngClass]="{'title-label-125':true,'input-label':true}">Miasto
        <span *ngIf="!isValid.city" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.city}}</span>
        <input id="post-city" [ngClass]="{'input':true,'input-invalid':!isValid.city}" type="text"
               [(ngModel)]="value.city" name="post-city" (change)="isCityValid()"
               placeholder="wpiś miasto">
      </label>
    </div>
    <div class="col-lg-3 col-md-12" *ngIf="isCityValid()">
      <label for="post-distance-from-city" [ngClass]="{'title-label-125':true,'input-label':true}">Odlegwość (km)
        <div class="row">
          <div class="col-2 text-center">
            <span [ngClass]="{'post-distance-value':true}">{{value.range}}</span>
          </div>
          <div class="col-10">
            <input id="post-distance-from-city" type="range" [ngClass]="{'input':true}" [(ngModel)]="value.range" name="post-distance-from-city">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 text-center">
      <div id="mapka0"></div>
    </div>
    <div class="col-lg-4 col-md-12 text-left" *ngIf="value.salons.length > 0">
      <div class="row">
        <div class="col-12">
          <label for="post-salon" [ngClass]="{'title-label-125':true,'input-label':true}">Adress
            <span *ngIf="!isValid.pickedSalon" [ngClass]="{'input-invalid-tip':true}">{{invalidMsg.pickedSalon}}</span>
            <select id="post-salon" [ngClass]="{'input':true,'input-invalid':!isValid.pickedSalon}"
                    [(ngModel)]="value.pickedSalon" name="post-salon" (change)="isSalonValid()">
              <option *ngFor="let salon of value.salons;" value="{{salon.id}}">{{salon.name}}</option>
            </select>
          </label>
        </div>
        <div class="col-12" *ngIf="isSalonPicked()" [ngClass]="{'salon-info':true}">
          <p>nazwa: </p><p [ngClass]="{'salon-info-p':true}">{{value.salon.name}}</p><br>
          <p>kod: </p><p [ngClass]="{'salon-info-p':true}">{{value.salon.zip}}</p><br>
          <p>miasto: </p><p [ngClass]="{'salon-info-p':true}">{{value.salon.city}}</p><br>
          <p>ulica: </p><p [ngClass]="{'salon-info-p':true}">{{value.salon.address}}</p><br>
          <ng-container *ngFor="let phone of value.salon.phones">
            <p>telefon: </p><p [ngClass]="{'salon-info-p':true}">{{phone}}</p><br>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


