
.cat-container {
  display: inline-block;
  margin: 12px 24px;
  padding: 0;
  list-style: none;
  text-transform: lowercase;
}

.cat-element {
  display: inline-block;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  padding: 12px 0;
  text-align: center;
}

.cat-element span {
  display: block;
  vertical-align: top;
  margin: 0 6px;
}

.cat-element:hover {
  border: 1px solid #45a1ac;
}

.cat-element-icon {
  height: 20px;
  margin: auto 12px;
  vertical-align: bottom;
}

.cat-element-pick {
  border: 1px solid #3b8790;
  background-color: #3b8790;
  color: white;
}

.btn-icon-photo {
  margin: 24px 24px 16px 12px;
}

#post-photo {
  display: none;
}

.photos {
  margin: 12px 24px;
  border: 1px solid #9a9a9a;
}

.photo {
  margin: 12px;
  height: 200px;
}

.remove {
  display: inline-block;
  z-index: 2;
  text-align: center;
}

.remove:hover img {
  opacity: 0.5;
}

.remove:hover {
  background-color: rgba(0, 0, 0, .5);
}

.remove .remove-icon {
  height: 0;
}

.remove .remove-icon:before {
  position: relative;
  content: 'X';
  font-size: 5rem;
  font-weight: bold;
  top: 10px;
  color: white;
  visibility: hidden;
}

.remove:hover .remove-icon:before {
  visibility: visible;
}

.description {
  border: 1px solid #9a9a9a;
  height: 200px;
  padding: 12px;
  width: 100%;
  resize: none;
  line-height: 1.3rem;
}

.photo-description-row {
  border: 1px solid #9a9a9a;
  margin: 24px;
  padding: 12px;
}

.photo-description-row .description {
  border: none;
  height: auto;
}

.btn-icon-add-photo-description-row {
  margin: 24px 24px 24px 12px;
}

.photo-description-row p {
  hyphens: auto;
  word-wrap: break-word;
}

#mapka0 {
  display: inline-block;
  width: 400px;
  height: 450px;
}

#post-distance-from-city {
  margin-top: 20px;
  outline: none;
  opacity: .8;
  width: 100%;
  height: 4px;
  background-color: #9a9a9a;
  border-radius: 0;
  -webkit-appearance: none;
}

#post-distance-from-city::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  border-radius: 0;
  background: #9a9a9a;
  cursor: pointer;
}

#post-distance-from-city:hover {
  opacity: 1;
}

.post-distance-value {
  line-height: 43px;
}

.salon-info p {
  line-height: 1.5rem;
  font-size: .8rem;
  margin: 0;
  display: inline;
}

.salon-info-p {
  font-weight: 500;
}

.post-price-container {
  background-color: #45a1ac;
  color: white;
}

.input-checkbox-post-label {
  font-size: .8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 12px 6px;
}

.title-input-post-container {
  margin: 12px 24px;
}

.inline-title-input-post {
  line-height: 43px;
}

.equipment-checkbox {
  margin: 12px 24px;
  font-size: 1rem;
  display: inline-block;
}

.equipment-checkbox-font-size-50 {
  font-size: .5rem !important;
  line-height: 1rem;

}

.input-extra {
  margin: 12px 24px;
}

.input-vin {
  display: inline-block;
  margin-right: 12px;
}

