#arrow-to-start img {
  height: 31px;
}

#arrow-to-start{
  text-align: center;
  line-height: 53px;
  background-color: #f6cb20;
  width: 53px;
  height: 53px;
  z-index: 20;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
  border: 1px white solid;
}

#arrow-to-start:hover {
  background-color: #e9bc09;
}
