* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  margin: 0 auto 24px auto;
}

nav {
  margin-bottom: 24px;
}

nav ul {
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #f6cb20;
}

.element {
  display: inline-block;
  height: 67px;
  width: 234px;
  line-height: 67px;
  padding: 0 30px;
  margin: 0;
}

.element:hover {
  background-color: #f6cb20 !important;
}

.select-element {
  background-color: #e9bc09;
}

.unselect-element {
  background-color: transparent;
}

.element-icon {
  display: inline-block;
  height: 24px;
}

.element-text {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 12px;
  margin: 0;
  font-size: 1rem;
}

.title {
  text-transform: uppercase;
  padding: 12px;
  margin: 0;
  font-size: 2rem;
}
